<!--Dashboard/Index-->
<h1>Dashboard</h1>

<div>
  <%= link_to "Add new status", status_new_path %>
</div>

<% if @all_status.empty? %>
  <h3>Dashboard is empty</h3>
<% else %> 
  <table>
    <thead>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tr>
      <td> </td> <!--User goes here-->
    </tr>
    <% @all_status.each do |status| %>
      <tr>
        <td><%= status.user.display_name %></td>
        <td> <%= status.body %> </td>
        <td><%= link_to "Details", status_path(status)%></td>
        <td><%= link_to "Delete", status_path(status), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td> <!--actions-->
        <td><%= link_to "Reply", status_path(status)%></td>
      </tr>
    <% end %>
  </table>
<% end %>
